@font-face {
  font-family: "iconfont"; /* Project id 4776285 */
  src: url('iconfont.woff2?t=1734401335399') format('woff2'),
       url('iconfont.woff?t=1734401335399') format('woff'),
       url('iconfont.ttf?t=1734401335399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e65f";
}

.icon-duigou:before {
  content: "\e64b";
}

.icon-icon-jiantou:before {
  content: "\e661";
}

.icon-chenggong:before {
  content: "\e602";
}

.icon-ditu11:before {
  content: "\e7d7";
}

.icon-xinjianhuiyi1:before {
  content: "\e7d6";
}

.icon-chanpinku2:before {
  content: "\e7d5";
}

.icon-rl:before {
  content: "\e649";
}

.icon-huancunx:before {
  content: "\e64a";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-icon-link:before {
  content: "\e646";
}

.icon-icon-pic:before {
  content: "\e647";
}

.icon-icon-email:before {
  content: "\e648";
}

.icon-source-icons-cable-rounded:before {
  content: "\e62a";
}

.icon-source-icons-edit:before {
  content: "\e62b";
}

.icon-home-icon-activity:before {
  content: "\e62c";
}

.icon-home-icon-knowledge:before {
  content: "\e62d";
}

.icon-icon-book:before {
  content: "\e62e";
}

.icon-icon-knowledge-base:before {
  content: "\e62f";
}

.icon-icon-address:before {
  content: "\e630";
}

.icon-icon-certificate:before {
  content: "\e631";
}

.icon-home-icon-training:before {
  content: "\e632";
}

.icon-icon-prize:before {
  content: "\e633";
}

.icon-icon-live:before {
  content: "\e634";
}

.icon-icon-screen-select:before {
  content: "\e635";
}

.icon-icon-trade-data:before {
  content: "\e636";
}

.icon-icon-screen-picture1:before {
  content: "\e637";
}

.icon-icon-right-net:before {
  content: "\e638";
}

.icon-icon-screen-sort1:before {
  content: "\e639";
}

.icon-icon-training:before {
  content: "\e63a";
}

.icon-icon-screen-classify1:before {
  content: "\e63b";
}

.icon-a-icon-screen-notselect:before {
  content: "\e63c";
}

.icon-home-icon-material:before {
  content: "\e63d";
}

.icon-look:before {
  content: "\e63e";
}

.icon-a-03:before {
  content: "\e63f";
}

.icon-a-02:before {
  content: "\e640";
}

.icon-a-01:before {
  content: "\e641";
}

.icon-a-04:before {
  content: "\e642";
}

.icon-icon-collect:before {
  content: "\e643";
}

.icon-icon-collect-yes:before {
  content: "\e644";
}

.icon-icon-down:before {
  content: "\e645";
}

