.activity-register{
    width: 100%;
    height: 100%;
    background-color: #fff;
    .page_title{
        font-size: 40px;
        color: #000;
        text-align: center;
        padding: 40px 0 0;
    }
    .page_desc{
        color: #909090;
        font-size: 26px;
        text-align: left;
        padding: 20px 30px 0;
        line-height: 1.5;
    }
    .requestMessage_demo{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10;
        padding-top: 30px;
        image{
            display: block;
            margin: 0 auto;
            height: 30vh;
        }
    }
    // .input-view{
    //     >*{
    //         // @apply text-red-500;
    //         &:not(:last-child){
    //             @apply border-b border-gray-a3/32;
    //         }
    //     }
    // }
    // .input-not-style {
    //     @apply size-0 absolute -z-10 opacity-0;
    // }
    .loading{
        height: 90vh;
    }
    .banner{
        width: 100%;
        height: auto;
        image{
            width: 100%;
        }
    }
    .box{
        width: 100%;
        background: #fff;
        overflow: hidden;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: relative;
        top: -34px;
    }
    .canceled_click{
        font-size: 36px;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 15px;
        color: #0371f8;
    }
    .live_submit{
        background-color: #003057;
        &.disabled{
            opacity: 0.4;
        }
    }
    .success{
        &_text{
            margin: 20px 0 64px;
            font-size: 51px;
            text-align: center;
        }
        .live_btn{
            width: 460px;
            margin: 0 auto 100px;
        }
        
    }
    .footer{
        width: 100%;
        display: flex;
        justify-content: center;
        &_btn{
            width: 300px;
            height: 88px;
            border: 1PX solid rgba(0, 48, 87, 0.5);
            color: #003057;
            font-size: 38px;
            text-align: center;
            line-height: 88px;
            border-radius: 10px;
            &.back{
                margin-right: 34px;
            }
        }
    }

    .register_checkin{
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
        color: #818080;
        font-size: 26px;
        text{
            font-size: 26px;
            padding-right: 20px;
        }
    }
    .time_box{
        width: 100%;
        text-align: center;
        color: #909090;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .checkin_box{
        image{
            width: 150px;
            display: block;
            margin: 20px auto 0;
        }
    }

}
