$hd: 2 !default;
$page-padding: 24px;
$color-brand: #6190E8 !default;
$color-brand-light: #78A4F4 !default;
$color-brand-dark: #346FC2 !default;
$color-default: #de1920 !default;

$color-grey-0: #333 !default;
$color-grey-1: #666 !default;
$color-grey-2: #999 !default;
$color-grey-3: #CCC !default;
$color-grey-4: #E5E5E5 !default;
$color-grey-5: #F0F0F0 !default;
$color-grey-6: #F7F7F7 !default;


$color-white: #FFF !default;
$public-title-color: #312f30;
$public-title-size: 40px;


$zindex-modal: 1000 !default;
$zindex-action-sheet: 1010 !default;

$timing-func: cubic-bezier(0.36, 0.66, 0.04, 1) !default;


/* 边框颜色 */
$color-border-base: #C5D9E8 !default;
$color-border-split: tint($color-border-base, 20%) !default; // 分割线
$color-border-light: tint($color-border-base, 30%) !default;
$color-border-lighter: tint($color-border-base, 50%) !default;
$color-border-lightest: tint($color-border-base, 80%) !default;
$color-border-grey: #CCC !default;


$font-size-xs: 10px * $hd !default; // 非常用字号，用于标签
$font-size-sm: 12px * $hd !default; // 用于辅助信息
$font-size-base: 14px * $hd !default; // 常用字号
$font-size-lg: 16px * $hd !default; // 常规标题
$font-size-xl: 18px * $hd !default; // 大标题
$font-size-xxl: 20px * $hd !default; // 用于大号的数字

/* Border Radius */
$border-radius-sm: 2px * $hd !default;
$border-radius-md: 4px * $hd !default;
$border-radius-lg: 6px * $hd !default;
$border-radius-circle: 50% !default;

/* 水平间距 */
$spacing-h-sm: 5px * $hd !default;
$spacing-h-md: 8px * $hd !default;
$spacing-h-lg: 12px * $hd !default;
$spacing-h-xl: 16px * $hd !default;
/* 垂直间距 */
$spacing-v-xs: 3px * $hd !default;
$spacing-v-sm: 6px * $hd !default;
$spacing-v-md: 9px * $hd !default;
$spacing-v-lg: 12px * $hd !default;
$spacing-v-xl: 15px * $hd !default;

/* LoadMore */
$at-load-more-height: 80PX !default;
$at-load-more-tips-color: $color-grey-1 !default;
$at-load-more-tips-size: $font-size-lg !default;

/* Loading */
$at-loading-size: 36px !default;
$at-loading-color: $color-brand !default;

/* Btn */
$at-btn-default-color: $color-default;



$at-mail-width: 650px !default;
$at-mail-bg-color: $color-white !default;

/* 透明度 */
$opacity-active: 0.6 !default; // Button 等组件点击态额透明度
$opacity-disabled: 0.3 !default; // Button 等组件禁用态的透明度

/* Line Height */
$line-height-base: 1 !default; // 单行
$line-height-en: 1.3 !default; // 英文多行
$line-height-zh: 1.5 !default; // 中文多行

$ease-in-quad: cubic-bezier(0.550, 0.085, 0.680, 0.530) !default;



/* Activity Indicator */
$at-activity-indicator-font-size: 28px !default;
$at-activity-indicator-font-color: $color-grey-2 !default;