.index{
    padding: 20px;
    input{
        margin-bottom: 20px;
        width: 100%;
        height: 80px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 10px;
    }
}