@mixin triangle($borderW: 30px, $borderColor: #fff) {
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-width: $borderW;
        border-style: solid;
        border-color: $borderColor;
    }
}
@mixin triangle-right-bottom($borderW: 30px,$borderColor: #fff){
    position: relative;
    &:after{
        position: absolute;
        right: 0; bottom: 0;
    }
    @include triangle($borderW, transparent $borderColor $borderColor transparent);
}